{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block main %}
    <div class="row box-1">
        <div class="col-6">
            <p class="lead para-1 text-white">
                Helping Event Planners and Artists
                <span class="text-primary">work together efficiently</span>
            </p>
            <p class="para-2 text-white">
                Events planning software designed to bridge the gaps in communication
                regarding Artists needs to help events go to plan
            </p>

            <ul class="list-inline">
                <li class="list-inline-item" style="padding-left: 3rem;">
                    <a class="btn btn-light" href="">More info</a>
                </li>
                <li class="list-inline-item" style="padding-left: 1rem;">
                    <a class="btn btn-success" href="">Book a demo</a>
                </li>
            </ul>

        </div>
    </div>

    <div class="row">
        <div class="col">

            <div class="text-center">
                <h1 class="heading-1 text-primary">
                    Fulfill your Artists tech and hospitality requirements
                </h1>
            </div>

            <div class="row mt-4 p-4">
                <div class="col-3">
                    <div class="text-center">
                        <span class="material-symbols-outlined" style="font-size: 5rem; color: blue;">
                            lock
                        </span>
                    </div>
                    <p>Separate secure login pages for Artists and for Event Planners</p>
                </div>

                <div class="col-1">
                    <hr class="divider">
                </div>

                <div class="col-3">
                    <div class="text-center">
                        <span class="material-symbols-outlined" style="font-size: 5rem; color: blue;">
                            handshake
                        </span>
                    </div>
                    <p>Helping to create great relationships</p>
                </div>

                <div class="col-1">
                    <hr class="divider">
                </div>

                <div class="col-3">
                    <div class="text-center">
                        <span class="material-symbols-outlined" style="font-size: 5rem; color: blue;">
                            calendar_month
                        </span>
                    </div>
                    <p>Latione magni mollitia earum eligendi voluptatum.</p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}