{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<script src="{% static 'js/main.js' %}"></script>
<title>Liaise Smart | Authorise account</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
<script type="text/javascript">
$(window).load(function() {
    // Animate loader off screen
    $(".se-pre-con").fadeOut("slow");;
});
</script>
<body onunload="">
    <div class="se-pre-con"></div>

    <section class="login-background">
        
        <div class="text-center">
            <h2 class="display-3">Please authorise your account</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-4 offset-4">
                    <img src="#" alt="big logo" id="big-logo">
                </div>
            </div>
        </div>

        <div class="main-content">

            <form id="login-form" class="form" method="post">
                {% csrf_token %}

                <p>We have sent an authorisation code to {{email}}</p>

                <div class="mb-2">
                    <label for="authcode">Authorisation code</label><br>
                    <input type="text" class="form-control" name="authcode">
                </div>
                <div class="mb-2">
                    <div class="text-center">
                        <input type="submit" value="submit" class="btn btn-primary">
                    </div>
                </div>
            </form>

            <form id="new-code-form" class="form" method="post">
                {% csrf_token %}

                <p>Request a new code</p>

                <div class="mb-2">
                    <div class="text-center">
                        <input type="hidden" name="newcode">
                        <input type="submit" value="submit" class="btn btn-primary">
                    </div>
                </div>
            </form>

        </div>

    </section>

</body>
</html>