<!DOCTYPE html>
<html lang="en">
<head>
{% block meta %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="A juicy website"/>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
{% endblock %}
<title>Liase Smart | {% block title %}{% endblock %}</title>
</head>
<body>
    <!-- Navbar -->
    {% block navbar %}
    <nav class="home-navbar" id="home-navbar">
        <div class="w-100 p-2">
            <div class="container-fluid p-4">
                <div class="row">
                    <div class="col-2"><a class="icon" href="#">Home</a></div>
                    <div class="col-6">
                        <ul class="list-inline">
                            <li class="list-inline-item pr-2"><a>How it works</a></li>
                            <li class="list-inline-item"><a>Request a demo</a></li>
                            <li class="list-inline-item"><a>How it works</a></li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul class="list-inline">
                            <li class="list-inline-item">Testing</li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </nav>
    {% endblock %}

    <!-- Main page contents -->
    {% block main %}
    {% endblock %}

{% block core_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>